* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:"AC";
  src: url(../Fonts/AmalfiCoast.ttf) format('truetype');
}

.bg {
  background: url(../Images/City.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  width: 100%;
}

.top-container{
  position: relative;
  padding-top: 100px;
}

body {
  background-color: powderblue;
  margin: 0;
  text-align: center;
}

h1 {
  color: azure;
  position: relative;
  margin: 0 auto 0 auto;
  width: 8%;
  font-family: 'AC', sans-serif;
}

p {
  color: azure;
}
