* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:"AC";
  src: url(../Fonts/AmalfiCoast.ttf) format('truetype');
}

.bg {
  background: url(../Images/City.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  width: 100%;
}

.top-container{
  padding-top: 90px;
}

body {
  background-color: powderblue;
  margin: 0;
  text-align: center;
}

h1 {
  color: azure;
  font-size: 3.2rem;
  margin-top: 190px;
  font-family: 'AC', sans-serif;
}

p {
  color: azure;
  font-size: 1.2rem;
  font-family: sans-serif;
}
