* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:"AC";
  src: url(../Fonts/AmalfiCoast.ttf);
}

@font-face {
  font-family:"Pixel";
  src: url(../Fonts/Pixel.ttf);
}

body{
  background: url(../Images/City.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  width: 100%;
  background-attachment: fixed;
}


.top-container{
  padding-top: 90px;
}


body {
  margin: 0;
  /* text-align: center; */
}


h1 {
  color: #FF94CC;
  font-size: 3.2rem;
  font-family: 'AC', sans-serif;
}


.name{
  color: #EBFFFB;
  font-size: 3.2rem;
  margin-top: 190px;
  font-family: 'AC', sans-serif;
}


p {
  color: #FF94CC;
  font-size: 1.2rem;
  font-family: 'Pixel', sans-serif;
  margin-top: 18px;
  padding-bottom: 10px;
}


.details{
  color: azure;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin-top: 18px;
  padding-bottom: 10px;
}


.link{
  color: azure;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin-top: 18px;
  padding-bottom: 10px;
}


.link:hover{
  color: #FF94CC;
}


.float-container {
  padding: 20px;
}


.flex-container {
  display: flex;
}


.flex-child {
  flex: 1;
}  


.flex-child:first-child {
  margin-right: 20px;
} 


.a1{
  padding: 5px;
  float: left;
  width: 35%;
}


.a2{
  height: 100%;
  display: inline-block;
  padding-top: 100px;
  margin: 0 auto;
  width: 60%;
}

.about{
  padding-top: 50px;
}